<h3>Jason Freeman, Aggie Class of 2015</h3>
<div id="container">
<h1>Empty Stomach</h1>
<div id="image"><%= image_tag("empty_stomach.jpg", :alt => "Empty Stomach") %></div>
</div>
<ol>
<li><%= @paragraph %></li>
<li><%= @paragraph2 %></li>
<li><%= @paragraph3 %></li>
</ol>

